---
import Layout from '../layouts/Layout.astro';
import Chat from '../components/Chat.jsx';
---

<Layout title="Welcome to File Transfer.">
	<main>
		
			<Chat client:only
			/>
	
	</main>
</Layout>

